{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
<div class="container">
    <form action="{{ path('BlogBundle_blog_edit', { 'blog_id' : blog.id } ) }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_widget(form) }}
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

</div>

{% endblock %}