{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <div class="container "><header>
        <h1>About This blog</h1>
    </header>
    <article>
        <p>Sujet : Création d’un système de gestion d’objet et son API (ex : blog, bibliothèque…)
Objectifs conceptuels (50%) :
Utilisation de Symfony (ou tout autre framework MVC)
Utilisation des templates twigs (ou autre) et des layouts
Maitrise de l’architecture MVC
Utilisation des modèles de données avec l’ORM Doctrine (ou autre)
Objectifs pratiques (50%) :
Gestion des objets : Afficher tous, Afficher un, Ajouter, Modifier, Supprimer
Mise en forme CSS à l’aide de Twitter bootstrap
Déploiement sur cloud / serveur dédié etc.
Site web fonctionnel, compréhensible
Modalité de rendu :
Un repo github avec toutes les sources (sans les dossiers app/cache, app/logs, vendors)
Une URL (bluemix, dédié ou autre)
Un email (à respecter précisément) :
Titre : Cours Web esiea 2015
Contenu : Lien github / Lien de déploiement puis binome 1 puis binome 2
Aucun texte en dehors de ce qui est spécifié. Pour les questions envoyez moi un email séparé
À l’adresse suivante : ancast+esiea15@gmail.com
</p>
    </article></div>
    
{% endblock %}