{% extends 'BlogBundle::layout.html.twig' %}
{% block stylesheets %}
  {{parent()}}
  <link href="{{ asset('bootstrap-3.3.5-dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/footer.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/blog_user.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
  
  
  {# Home #}
  <div class="container col-sm-8">
    
    {# <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#rectangle" data-toggle="tab"><span class="glyphicon glyphicon-th-large"></span></a></li>
      <li><a href="#inbox" data-toggle="tab"><span class="glyphicon glyphicon-th"></span></a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane" id="inbox">
        {% include 'BlogBundle:Layout:display_list_3.html.twig' with { 'blogs': blogs } %}
      </div>
      <div class="tab-pane active" id="rectangle">
        {% include 'BlogBundle:Layout:display_list_2.html.twig' with { 'blogs': blogs } %}
      </div>
    </div>
  </div>
    <hr> #}

            {% include 'BlogBundle:Layout:header_menu_display.html.twig' %}
          <div class="tab-content">
            <div class="tab-pane active" id="inbox">
              {% include 'BlogBundle:Layout:display_list_3.html.twig' with { 'blogs': blogs } %}
            </div>
            <br/>
            <div class="tab-pane" id="sent">
              {% include 'BlogBundle:Layout:display_list_1_big.html.twig' with { 'blogs': blogs } %}
            </div>
            <div class="tab-pane" id="event">
              {% include 'BlogBundle:Layout:display_list_1_small.html.twig' with { 'blogs': blogs } %}
            </div>

            <div class="tab-pane" id="rectangle">
              {% include 'BlogBundle:Layout:display_list_2.html.twig' with { 'blogs': blogs } %}
            </div>
          </div>
        </div>


{% endblock %}