{% if get_search is not defined %}
{% set get_search = "" %}
{% endif %}


{% extends "BlogBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/blog_user.css') }}" type="text/css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

{% endblock %}

{% block search %}
{% endblock %}

{% block body %}
    <div class="row-fluid top30 pagetitle">
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <h1>
          Search Results :

          {% if get_search is defined and  get_search|length > 0 %}
            Found {{blogs|length}} 
            for 
            "{{ get_search }}"

          {% else %}
          {% endif %}
        </h1>
      </div>
      
      
    </div>
    
  </div>
  
  
  
</div>
<div class="container">
  
  <div class="row">
    {% include 'BlogBundle:Search:search_sidebar.html.twig' with { 'get_search': get_search } %}
    <div class="col-md-9">
      
      
      <div class="well hidden-xs"> 
        
        <div class="row">
          
          {# <div class="col-xs-8">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></button>
              <button type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>
              
            </div>
          </div> #}
          
        </div>
        
        
        
        
        
      </div>
      
      <hr>
      
      {% include 'BlogBundle:Layout:display_list_1_big.html.twig' with { 'blogs': blogs } %}
      
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  
{% endblock %}