{% extends 'BlogBundle:layout:header_menu_display.html.twig' %}

{% block owner_create %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.id == id %}
            <li class="pull-right">
              
            </li>
        {% endif %}
    {% endif %}
{% endblock %}